<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{/match}}{{#match @custom.color_scheme "Auto"}} class="auto-color"{{/match}}>
<head>

    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    {{!-- <style>
        :root {
            {{#if @custom.header_button_background}}
            --button-bg-color: {{@custom.header_button_background}};
            {{/if}}
            --button-text-color: {{#match @custom.header_button_text_color "Light"}}#fff{{else}}var(--color-darkgrey){{/match}};
        }
    </style> --}}

    {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
    this will take care of caching and cache-busting automatically --}}
    <link rel="stylesheet" type="text/css" href="./assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    {{!-- <link rel="icon" href="{{asset "favicon.ico"}}" /> --}}

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Modern sans-serif"}} has-sans-body{{/match}}">
<div class="viewport fondo">
    <header>
        <nav class="navbar navbar-icon-top navbar-expand-lg" style="background: transparent
        linear-gradient(230deg, #1c7cbf 0%, #1c7cbf 4%, #9f58e2 49%, #6d4061 100%)
        0% 0% no-repeat padding-box;
        min-height: 77px">
        {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> --}}      
        <div class="more ">
            <button id="more-btn" class="more-btn navbar-toggler" type="button">
                <span class="more-dot"></span>
                <span class="more-dot"></span>
                <span class="more-dot"></span>
            </button>
            <div class="more-menu">
                <section>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading panelMenu">
                                <a class="nav-link" href="https://www.plataformadigitalnacional.org/mesa-de-ayuda">
                                <img src="/assets/img/icon_mesa-de-ayuda.svg" alt="PDN" class="float-right iconos-menu">
                                MESA DE AYUDA
                                </a>
                            </div>
                        </div> <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading panelMenu">
                                <a class="nav-link" href="https://www.plataformadigitalnacional.org/especificaciones">
                                ESPECIFICACIONES
                                <img src="/assets/img/icon_especificaciones.svg" alt="PDN" class="float-right iconos-menu" />
                                </a>
                            </div>
                            
                        </div> <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading panelMenu">
                                <a class="accordion-icon" data-toggle="collapse" href="#accordionSistemas" aria-expanded="false">
                                    SISTEMAS <span class="float-right"><i class="fas fa-angle-down"></i></span>
                                    <img src="/assets/img/icon_sistemas.svg" alt="PDN" class="d-flex align-items-center float-right iconos-menu">
                                </a>
                            </div>
                            <div id="accordionSistemas" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                                <div class="panel-body"> 
                                    <a href="https://www.plataformadigitalnacional.org/declaraciones">
                                        <img src="/assets/img/sistemas/ico_s1_color.svg" alt="PDN" class="img-fluid d-block iconos-submenu">
                                        <p style="color: rgb(242, 152, 136);">Sistema de evolución patrimonial, de declaración de intereses y constancia de presentación de declaración fiscal</p>
                                    </a>
                                    <a href="https://www.plataformadigitalnacional.org/servidores">
                                        <img src="/assets/img/sistemas/ico_s2_color.svg" alt="PDN" class="img-fluid d-block iconos-submenu" >
                                        <p style="color: rgb(178, 95, 172);">Sistema de los servidores públicos que intervengan en procedimientos de contrataciones públicas</p>
                                    </a>
                                    <a href="https://www.plataformadigitalnacional.org/sancionados">
                                        <img src="/assets/img/sistemas/ico_s3_color.svg" alt="PDN" class="img-fluid d-block iconos-submenu" >
                                        <p style="color: rgb(144, 133, 218);">Sistema nacional de servidores públicos y particulares sancionados</p>
                                    </a>
                                    <a href="https://www.plataformadigitalnacional.org/fiscalizacion">
                                        <img src="/assets/img/sistemas/ico_s4_color.svg" alt="PDN" class="img-fluid d-block iconos-submenu" >
                                        <p style="color: rgb(136, 188, 105);">Sistema de información y comunicación del Sistema Nacional Anticorrupción y del Sistema Nacional de Fiscalización</p>
                                    </a>
                                    <a href="https://www.plataformadigitalnacional.org/denuncias">
                                        <img src="/assets/img/sistemas/ico_s5_color.svg" alt="PDN" class="img-fluid d-block iconos-submenu" >
                                        <p style="color: rgb(52, 201, 178);">Sistema de denuncias públicas de faltas administrativas y hechos de corrupción</p>
                                    </a>
                                    <a href="https://www.plataformadigitalnacional.org/contrataciones">
                                        <img src="/assets/img/sistemas/ico_s6_color.svg" alt="PDN" class="img-fluid d-block iconos-submenu" >
                                        <p style="color: rgb(66, 165, 204);">Sistema de información pública de contrataciones</p>
                                    </a>
                                </div>
                            </div>
                        </div> <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading panelMenu">
                                <a class="accordion-icon" data-toggle="collapse" href="#accordionInterconexion" aria-expanded="false">
                                    INTERCONEXIÓN <span class="float-right"><i class="fas fa-angle-down"></i></span>
                                    <img src="/assets/img/icon_interconexion.svg" alt="PDN" class="float-right iconos-menu">
                                </a>
                            </div>
                            <div id="accordionInterconexion" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    <a href="https://www.plataformadigitalnacional.org/mapa-sla/">
                                        <img style="max-width: 56px;" src="/assets/img/mapa_legislacion.svg" alt="PDN" class="img-fluid d-block iconos-submenu">
                                        <p style="color: rgb(178, 191, 196);">Legislación</p>
                                    </a>
                                    <a href="https://www.plataformadigitalnacional.org/mapa-avance/">
                                        <img style="max-width: 56px;" src="/assets/img/mapa_s2-s3.svg" alt="PDN" class="img-fluid d-block iconos-submenu" >
                                        <p style="color: rgb(178, 191, 196);">Sistemas 1, 2 y 3</p>
                                    </a>
                                    <a href="https://www.plataformadigitalnacional.org/cobertura/">
                                        <img style="max-width: 56px;" src="/assets/img/ico_cobertura.svg" alt="PDN" class="img-fluid d-block iconos-submenu" >
                                        <p style="color: rgb(178, 191, 196);">Cobertura</p>
                                    </a>
                                </div>
                            </div>
                        </div> <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading panelMenu">
                                <a class="nav-link" href="https://mda.plataformadigitalnacional.org/">
                                    <img src="/assets/img/icon_mda.svg" alt="PDN" class="float-right iconos-menu">
                                    MERCADO DIGITAL
                                </a>
                            </div>
                        </div>
            </div><!-- /.panel-default -->
                </section>
            </div>
        </div>

        <a class="nav-link float-right" href="https://www.plataformadigitalnacional.org">
            <img src="/assets/img/logo_pdn-transparente.svg" alt="PDN" class="iconos-menu float-right">
        </a>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="encabezado navbar-nav">
                
            <li class="nav-item">
                <a class="nav-link" href="https://www.plataformadigitalnacional.org/mesa-de-ayuda">
                <img src="/assets/img/icon_mesa-de-ayuda.svg" alt="PDN" class="iconos-menu">
                MESA DE AYUDA
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.plataformadigitalnacional.org/especificaciones">
                <img src="/assets/img/icon_especificaciones.svg" alt="PDN" class="iconos-menu">
                ESPECIFICACIONES
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/assets/img/icon_sistemas.svg" alt="PDN" class="iconos-menu">
                SISTEMAS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div style="display: flex; justify-content: space-evenly;">
                        <div class="submenu1" style="color: rgb(242, 152, 136);">
                            <div class="submenu2">
                                <a class="nav-link" href="https://www.plataformadigitalnacional.org/declaraciones" >
                                    <img src="/assets/img/sistemas/ico_s1_color.svg" alt="PDN" class="img-fluid d-block mx-auto iconos-submenu">
                                    <p style="color: rgb(242, 152, 136);">Sistema de Declaraciones</p>
                                </a>
                            </div>
                        </div>
                        
                        <div class="submenu1" style="color: rgb(178, 95, 172);">
                            <div class="submenu2">
                                <a class="nav-link" href="https://www.plataformadigitalnacional.org/servidores">
                                    <img src="/assets/img/sistemas/ico_s2_color.svg" alt="PDN" class="img-fluid d-block mx-auto iconos-submenu" >
                                    <p style="color: rgb(178, 95, 172);">Sistema de Servidores Públicos en contrataciones</p>
                                </a>
                            </div>
                        </div>
                        <div class="submenu1" style="color: rgb(144, 133, 218);">
                            <div class="submenu2">
                                <a class="nav-link" href="https://www.plataformadigitalnacional.org/sancionados">
                            <img src="/assets/img/sistemas/ico_s3_color.svg" alt="PDN" class="img-fluid d-block mx-auto iconos-submenu" >
                            <p style="color: rgb(144, 133, 218);">Sistema de Sancionados</p>
                        </a>
                            </div>
                        </div>
                        <div class="submenu1" style="color: rgb(136, 188, 105);">
                            <div class="submenu2">
                                <a class="nav-link" href="https://www.plataformadigitalnacional.org/fiscalizacion">
                                    <img src="/assets/img/sistemas/ico_s4_color.svg" alt="PDN" class="img-fluid d-block mx-auto iconos-submenu" >
                                    <p style="color: rgb(136, 188, 105);">Sistema de Fiscalización</p>
                                </a>
                            </div>
                        </div>
                        <div class="submenu1" style="color: rgb(52, 201, 178);">
                            <div class="submenu2">
                                <a class="nav-link" href="https://www.plataformadigitalnacional.org/denuncias">
                                    <img src="/assets/img/sistemas/ico_s5_color.svg" alt="PDN" class="img-fluid d-block mx-auto iconos-submenu" >
                                    <p style="color: rgb(52, 201, 178);">Sistema de Denuncias</p>
                                </a>
                            </div>
                        </div>
                        <div class="submenu1" style="color: rgb(66, 165, 204);">
                            <div class="submenu2">
                                <a class="nav-link" href="https://www.plataformadigitalnacional.org/contrataciones">
                                    <img src="/assets/img/sistemas/ico_s6_color.svg" alt="PDN" class="img-fluid d-block mx-auto iconos-submenu" >
                                    <p style="color: rgb(66, 165, 204);">Sistema de Contrataciones</p>
                                </a>                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/assets/img/icon_interconexion.svg" alt="PDN" class="iconos-menu">
                INTERCONEXIÓN
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <div style="display: flex; justify-content: center;">
                        <div class="submenu1" style="color: rgb(52, 179, 235);">
                            <div class="submenu2">
                                <a class="nav-link" href="https://www.plataformadigitalnacional.org/mapa-sla/" style="display: contents;">
                                    <img style="max-width: 72px;" src="/assets/img/mapa_legislacion.svg" alt="PDN" class="img-fluid d-block mx-auto iconos-submenu">
                                    <p>Legislación</p>
                                </a>
                            </div>
                        </div>
                        
                        <div class="submenu1" style="color: rgb(52, 179, 235);">
                            <div class="submenu2">
                                <a class="nav-link" href="https://www.plataformadigitalnacional.org/mapa-avance/" style="display: contents;">
                                    <img style="max-width: 72px;" src="/assets/img/mapa_s2-s3.svg" alt="PDN" class="img-fluid d-block mx-auto iconos-submenu" >
                                    <p>Sistemas 1, 2 y 3</p>
                                </a>
                            </div>
                        </div>
                        <div class="submenu1" style="color: rgb(52, 179, 235);">
                            <div class="submenu2">
                                <a class="nav-link" href="https://www.plataformadigitalnacional.org/cobertura/" style="display: contents;">
                                    <img style="max-width: 72px;" src="/assets/img/ico_cobertura.svg" alt="PDN" class="img-fluid d-block mx-auto iconos-submenu" >
                                    <p>Cobertura</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://mda.plataformadigitalnacional.org/">
                <img src="/assets/img/icon_mda.svg" alt="PDN" class="iconos-menu">
                MERCADO DIGITAL
                </a>
            </li>
            </ul>
            
        </div>    
        {{!-- <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">
                <img src="/assets/img/ico_login.svg" alt="PDN" class="iconos-menu">
                <p id="text-sesion">Iniciar Sesión</p>
                </a>
            </li>
        </ul> --}}
        </nav>
    </header>
    {{!!<div id="version">
        <div  class="container">
        <div class="row">
            <div class="col-12">
                <p style="color: #3e5968;"><b>Versión 1.1</b></p>
            </div>
        </div>
    </div>
    </div> !!}}
    

    <div class="site-content" >
        {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </div>

    {{!-- The global footer at the very bottom of the screen --}}
    <footer class="site-footer outer">
        <div class="container" style="max-width: 100%;">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-12 d-flex footer-aling align-items-center">
                            <a class="footer-link" href="mailto:pdn@sesna.gob.mx">pdn@sesna.gob.mx</a>
                            
                            <a href="https://www.youtube.com/channel/UCRUpiHth_WRkNo2sBmZIyfQ/">
                                <img src="/assets/img/yt.svg" alt="PDN" class="iconos-footer1">
                            </a>
                            <a href="https://www.facebook.com/SESNAOficial">
                                <img src="/assets/img/fb.svg" alt="PDN" class="iconos-footer1" style="margin-right: 1rem;">
                            </a>
                            <a href="https://twitter.com/SESNAOficial">
                                <img src="/assets/img/tw.svg" alt="PDN" class="iconos-footer1">
                            </a>
                        </div>
                        <div class="col-12 d-flex footer-aling align-items-center row-solo footer-row" style="">
                            
                            <a class="text-right" href="https://www.plataformadigitalnacional.org/about" style="color: #ffffff; border-bottom: none;">Acerca de la PDN</a>
                        </div>
                        <div class="col-12 d-flex footer-aling align-items-center footer-row">
                            <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.es">
                                <img src="/assets/img/CC.png" alt="PDN" class="" style=" display: inline; margin-right: 20px">
                            </a>
                            <a class="nav-link" href="https://github.com/orgs/PDNMX">
                                <img id="img-github" src="/assets/img/github.svg" alt="PDN" class="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    {{!-- <div id="row-background"></div> --}}
                    <div class="row">
                    
                        <div class="col-md-5 col-sm-12 d-flex align-items-end flex-column footer-row">
                            <a class="text-right footer-link" href="https://www.plataformadigitalnacional.org/mapa-sla/">Avances de Interconexión</a>
                            <a class="text-right footer-link" href="https://mda.plataformadigitalnacional.org/">Mercado Digital Anticorrupción</a>
                        </div>
                        <div class="col-md-1 d-none d-md-block column-sola"></div>
                        <div class="col-md-5 col-sm-12 d-flex align-items-start flex-column footer-row">
                            <a class="footer-link" href="https://www.plataformadigitalnacional.org/faq">Preguntas frecuentes</a>
                            <a class="footer-link" href="https://www.youtube.com/channel/UCJ0nWmB2-ADfn95r5cjmLJA/">Videos</a>
                            <a class="footer-link" href="https://drive.google.com/drive/folders/1t_vGUfagr75TAZ8-E4NZfL-fU0BcsPlZ">Boletines y prensa</a>
                        </div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div id="logos" class="row">
                        <div class="col-md-6 col-sm-12 d-flex justify-content-start">
                            <img src="/assets/img/logotipo_sna.svg" alt="PDN" class="iconos-footer2">
                        </div>
                        <div class="col-md-6 col-sm-12 d-flex justify-content-start">
                            <img src="/assets/img/sna.svg" alt="PDN" class="iconos-footer2">
                        </div>
                        <div class="col-md-6 col-sm-12 d-flex justify-content-start">
                            <img src="/assets/img/logotipo_pdn.svg" alt="PDN" class="iconos-footer2">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</div>
{{!-- /.viewport --}}


{{!-- Scripts - handle member signups, responsive videos, infinite scroll, floating headers, and galleries --}}
<script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script><script src="{{asset "built/casper.js"}}"></script>
<script>
$(document).ready(function () {
    // Mobile Menu Trigger
    $('.gh-burger').click(function () {
        $('body').toggleClass('gh-head-open');
    });
    // FitVids - Makes video embeds responsive
    $(".gh-content").fitVids();
});

var el = document.querySelector('.more');
var btn = el.querySelector('.more-btn');
var menu = el.querySelector('.more-menu');
var visible = false;

function showMenu(e) {
    e.preventDefault();
    if (!visible) {
        visible = true;
        el.classList.add('show-more-menu');
        menu.setAttribute('aria-hidden', false);
        document.addEventListener("scroll", hideMenu, false);
    }
    
}

function hideMenu(e) {
    if (btn.contains(e.target)) {
        return;
    }
    if (visible) {
        visible = false;
        el.classList.remove('show-more-menu');
        menu.setAttribute('aria-hidden', true);
        document.removeEventListener('mousedown', hideMenu);
    }
}

btn.addEventListener('click', showMenu, false);

</script>

{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
